<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bobby's Kitchen Sink</title>
    </head>
    <body>
        <div>
            <h1>Bobby's Kitchen Sink</h1>
            <h2>Ingredients</h2>
            <ul>
                <% for(let i = 0; i < ingredients.length; i++) { %>
                <li><%= ingredients[i] %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>
